<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beginvegan.mybatis.MemberMapper">

    <select id="selectMemberAll" resultType="MemberDTO">
        SELECT * from Member;
    </select>

    <select id="selectMemberByName" parameterType="String" resultType="MemberDTO">
        SELECT * from Member where member_name=#{name};
    </select>
</mapper>