<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beginvegan.mybatis.ReservationMapper">

    <insert id="insertReservation" parameterType="ReservationDTO">
        INSERT INTO Reservation (member_email,
                                 restaurant_no,
                                 reservation_time,
                                 reservation_visit_time,
                                 reservation_type,
                                 reservation_people,
                                 reservation_discount,
                                 reservation_total_price,
                                 reservation_status)
        Values (#{memberEmail},
                #{restaurantNo},
                #{reservationTime},
                #{reservationVisitTime},
                #{reservationType},
                #{reservationPeople},
                #{reservationDiscount},
                #{reservationTotalPrice},
                #{reservationStatus});
    </insert>

    <select id="selectReservationByReservationNo" parameterType="int" resultType="ReservationDTO">
        SELECT * FROM Reservation
        WHERE reservation_no = #{reservationNo}
    </select>

<!--    <select id="selectAllReservation" resultType="ReservationDTO">-->
<!--        SELECT * FROM Reservation-->
<!--    </select>-->

    <select id="selectALLReservationByMemberEmail" parameterType="String" resultType="ReservationDTO">
        SELECT * FROM Reservation
        WHERE member_email = #{memeberEmail}
    </select>

    <update id="updateReservation" parameterType="ReservationDTO">
        UPDATE Reservation
        SET member_email = #{memberEmail},
            restaurant_no = #{restaurantNo},
            reservation_time = #{reservationTime},
            reservation_visit_time = #{reservationVisitTime},
            reservation_type = #{reservationType},
            reservation_people = #{reservationPeople},
            reservation_discount = #{reservationDiscount},
            reservation_total_price = #{reservationTotalPrice},
            reservation_status = #{reservationStatus}
        WHERE reservation_no = #{reservationNo};
    </update>

    <delete id="deleteReservation" parameterType="int">
        DELETE FROM Reservation
        WHERE reservation_no = #{reservationNo}
    </delete>

    <resultMap id="reservationResultMap"          type="ReservationDTO">
        <id property="reservationNo"                      column="reservation_no"/>
        <result property="restaurantNo"                   column="restaurant_no"/>
        <result property="memberEmail"                    column="member_email"/>
        <result property="reservationTime"                column="reservation_time"/>
        <result property="reservationVisitTime"           column="reservation_visit_time"/>
        <result property="reservationType"                column="reservation_type" />
        <result property="reservationPeople"              column="reservation_people" />
        <result property="reservationDiscount"            column="reservation_discount" />
        <result property="reservationTotalPrice"          column="reservation_total_price" />
        <result property="reservationStatus"              column="reservation_status" />

        <!--예약 메뉴 리스트-->
        <collection property="reservationMenuList"       javaType="ReservationMenuDTO">
            <id property="reservationNo"                 column="reservation_no"/>
            <result property="menuNo"                    column="menu_no"/>
            <result property="reservationMenuCount"      column="reservation_menu_count"/>
        </collection>
    </resultMap>

    <select id="selectAllReservation" resultMap="reservationResultMap">
        SELECT Reservation.*,
               Reservation_Menu.menu_no,
               Reservation_Menu.reservation_menu_count
        FROM Reservation
                JOIN Reservation_Menu ON Reservation.reservation_no = Reservation_Menu.reservation_no
    </select>

</mapper>